[Desktop Entry]
Type=Application
Name=Snapcraft Forum
Icon=${SNAP}/meta/gui/icon.png
Exec=snapcraft-forum
Terminal=false
StartupWMClass=snapcraft-forum
Categories=Utility;
